.git
.github
.env
.env.*
!.env.example
.electron-cache
build
dist-desktop
node_modules
vendor
public/hot
public/storage
storage/*.key
storage/app/*
storage/debugbar/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
database/*.sqlite
npm-debug.log
yarn-error.log
Thumbs.db
