*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore
/database/*.sqlite
/.electron-cache
/node_modules
/build/composer.phar
/build/php
/build/php.zip
/dist-desktop
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
receipt-preview*.png
Homestead.json
Homestead.yaml
Thumbs.db
